body {
  margin: 0;
  font-family: sans-serif;
}
body {
  margin: 0;
  font-family: "Times New Roman", serif;
  background: #f5f5f5;
}
nav {
  	display: flex;
  	flex-wrap: wrap;
    background-color: #47C443;
  	align-items: center;
  	background-color: #47C443;
  	justify-content: space-between;
  	overflow: auto;
  	padding: 8px 10px;
    background-color: #c69d7d;
    color: white;
  
}
ul li {
  			position: relative;
  			margin: 15px 20px;
  			list-style: none;
  			display: inline-block;
  			padding: 5px;
  			font-size: 20px;
  			font-family: Times New Roman;

}

  ul li a {
  text-decoration: none; 
  cursor: pointer;
  color: white;
  }
.highlighted {
  text-decoration: none; 
  cursor: pointer;
  color: black;
  font-weight: bold;
  }


/* PAGE CENTER */
.container {
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
  padding: 20px;
}

.intro {
  margin: 15px auto 30px auto;
  max-width: 700px;
  color: #333;
}

/* 🔥 THIS IS THE IMPORTANT FIX */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* CARD STYLE */
.card-box {
  width: 180px;
  padding: 15px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  transition: 0.2s;
}

.card-box:hover {
  transform: scale(1.05);
}
.hero {
  display: flex;  
  align-items: center;   
  justify-content: space-between;
  padding: 50px;
  font-family: Times New Roman;
  
}

.hero-text {
  max-width: 50x;
}

.hero-text h1 {
  font-size: 40px;
  color: #b88c7d;
  text-align: center;
}

.hero-text p {
  line-height: 1.6;
}


.search-bar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: -6.5%
}

.search-bar input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.search-bar button {
  padding: 8px;
  background: #007BFF;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}body {
  margin: 0;
  font-family: "Times New Roman", serif;
  background: #f5f5f5;
}

.try-btn {
  background: #c69d7d;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}
cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 30px 0;
}

.card {
  width: 170px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c69d7d;
  color: white;
  text-decoration: none;
  border-radius: 12px;
  font-weight: bold;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.05);
  background: #b8896d;
}